body {
  background-color: #282c34;
}
.App {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/* border: 3px solid tomato;*/
 height: 100%;
}
.Home {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*border: 3px solid yellow;*/
  } 
.list{
    display: flex;
    flex-wrap: wrap;
   /* border:2px solid springgreen;*/
    width: 70%;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
  }
        
.mod{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
     
  }
.titre {
  color: rgb(220, 229, 245);
}

.trailer{
  display: flex;
  justify-content: center; 
  align-items: center;
 color: rgb(220, 229, 245);
 flex-direction: column;
 width: 60%;
 /*border: 3px solid green;*/
 padding-top: 50px;
 padding-bottom: 50px;
 margin-bottom: 50px;
}
input{ 
 width: 300px;
}
iframe{
  width:420px; height:315px;
  margin-bottom: 50px;
}